In [1]:
# 11.1

"""
zoo module description:

def hours():
    return "Open 9-5 daily"
"""

import zoo

zoo.hours()

'Open 9-5 daily'

In [2]:
# 11.2

import zoo as menagerie

menagerie.hours()

'Open 9-5 daily'

In [32]:
# 16.8

import sqlalchemy as sa

conn = sa.create_engine("sqlite:///books.db")

meta = sa.MetaData()
books = sa.Table("book", meta,
                sa.Column("title", sa.String(100), primary_key=True),
                sa.Column("author", sa.String(50)),
                sa.Column("year", sa.Integer)
                )

meta.create_all(conn)

conn.execute(books.insert(("The Hobbit", "Tolkien", 1937)))
conn.execute(books.insert(("Lolita", "Vladimir Nabokov", 1955)))
conn.execute(books.insert(("Heidi", "Johanna Spyri", 1880)))
conn.execute(books.insert(("Black Beauty", "Anna Sewell", 1877)))
 
result = conn.execute("select title from book")
title_column = result.fetchall()
for title in title_column:
    print(title[0])

Black Beauty
Heidi
Lolita
The Hobbit