In [23]:
# Import pandas as pd
import pandas as pd
import numpy as np

In [187]:
# Read Salaries.csv as a dataframe called sal
sal_main = pd.read_csv("Salaries.csv", low_memory=False)
sal = sal_main.copy()

In [188]:
# Check the head of the DataFrame
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [189]:
# use the .info() method to find out how many entries there are
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [190]:
# What is the average BasePay?
sal.replace("Not Provided", np.nan, inplace=True)
sal["BasePay"] = pd.to_numeric(sal["BasePay"])
print(sal["BasePay"].mean())

66325.44884050643

In [191]:
# What is the highest amount of OvertimePay in the dataset
sal["OvertimePay"] = pd.to_numeric(sal["OvertimePay"])
highest_overtimepay = sal["OvertimePay"].max()
highest_overtimepay

245131.88

In [192]:
# What is the job title of JOSEPH DRISCOLL?
res = sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]
res["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [193]:
# How much does JOSEPH DRISCOLL make (including benefits)?
res["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [194]:
# What is the name of the highest paid person (including benefits)?
highest_paid = sal["TotalPayBenefits"].max()
employee_highest_paid = sal[sal["TotalPayBenefits"] == highest_paid]
employee_highest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [195]:
# What is the name of lowest paid person (including benefits)?
lowest_paid = sal["TotalPayBenefits"].min()
employee_lowest_paid = sal[sal["TotalPayBenefits"] == lowest_paid]
employee_lowest_paid

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [196]:
# Her total pay (including benefit) is negative

In [197]:
# What was the average (mean) BasePay of all employees per year (2011-2014)?
basepay_by_year = sal.groupby("Year")["BasePay"].mean()
basepay_by_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [198]:
# How many unique job title are there?
unique_job = sal["JobTitle"].value_counts()
len(unique_job)

2159

In [199]:
# What are the top 5 most common jobs?
unique_job.head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [200]:
# How many Job Titles were represented by only one person in 2013?
temp = sal[sal["Year"] == 2013]
temp_count = temp["JobTitle"].value_counts()
job_title_2013 = pd.DataFrame(temp_count).reset_index()
job_title_2013.columns = ["job_title", "count"]
job_title_2013[job_title_2013["count"] == 1].count()

job_title    202
count        202
dtype: int64

In [201]:
# How many people have the word Chief in their job title?
count = 0
for index, value in sal["JobTitle"].iteritems():
    if "CHIEF" in value.upper().split():
        count += 1
count

477

In [210]:
# Is there a correlation between length of the Job Title string and Salary?
sal["LengthJobTitle"] = sal["JobTitle"].apply(lambda title: len(title))
sal[["LengthJobTitle", "TotalPayBenefits"]].corr()

                  LengthJobTitle  TotalPayBenefits
LengthJobTitle          1.000000         -0.036878
TotalPayBenefits       -0.036878          1.000000